bedFiles/eqtms_et.bed
paper_data/*
.Rhistory.csv
data/*
corrunpted/*
mj_data/*
output/*
Roadmap/*
*.pyc
.ipynb_checkpoints/*
MNIST_data/*
checkpoint
projector/*
projector_withNonLinear/*
*.txt
lib/.ipynb_checkpoints/*
lib/__pycache__/*
tools/__pycache__/*
*.pyc
